

  <header class="header">
    <ul>
      <li>
        <a class="grow" href="home"><i class="bi bi-house-fill"></i> Home</a>
      </li>
      <li>
        <a class="grow" href="historial"
          ><i class="fas fa-briefcase"></i> Historial</a
        >
      </li>
      <li>
        <a class="grow" href="aboutme"
          ><i class="fas fa-award"></i> Acerca de</a
        >
      </li>
      <li style="float: right">
        <a class="contactus" href="#"
          ><i class="bi bi-telephone-fill"></i> Contact Us</a
        >
      </li>
    </ul>
  </header>






 
  