<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <%- include('./partials/head.ejs'); %>
  
</head>

<body class="container">

  <%- include('./partials/navbar.ejs'); %>
   
  <div class="container contenedor">
    <h1>Bienvenido a la Super-Calculadora para la Gente Super<span>&#160;</span></h1>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-6"><br>
        
          <div class="mb-3">
            <label for="first_number" class="form-label">Primer Numero</label>
            <input type="number" class="form-control" id="first_number" aria-describedby="numberHelp">
            <div id="numberHelp" class="form-text">Debe ingresar un numero para realizar la operacion</div>
          </div>
          <div class="mb-3">
            <label for="second_number" class="form-label">Seundo Numero</label>
            <input type="number" class="form-control" id="second_number">
            <div id="numberHelp" class="form-text">Debe ingresar un numero para realizar la operacion</div>
          </div>
          <div class="mb-3">
            
            <div class="row g-2">
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="operator" aria-label="Floating label select example">
                    
                    <option value="suma"  selected>Suma</option>
                    <option value="resta">Resta</option>
                    <option value="multiplicacion">Multipliacion</option>
                    <option value="division">Division</option>
                    
                  </select>
                  <label for="operator">Seleccione la operacion a realizar</label>
                </div>
              </div>
            </div>
            
          </div>
          <button type="submit" onclick='sendData()' class="btn btn-primary" >Enviar</button>
  
        <hr>
      </div>
      
      <div class="col-1 ">
        <hr width="1" size="300" class="bg-dark">
      </div>
      
      <div class="col-5 d-flex form-floating justify-content-between bg-light">
        
          <textarea class="form-control" placeholder="Historial"  id="historial" style="height: 220px" ></textarea>
          
          <label for="floatingTextarea2"><b>Historial</b></label>
      </div> 
       
      <div class="col-5 d-flex form-floating justify-content-between bg-light">
        
        <textarea class="form-control" placeholder="Resultado"  id="resultado" style="height: 220px" ></textarea>
        
        <label for="floatingTextarea2"><b>Resulado</b></label>
    </div> 
    </div>
    
    </div>
  </div>
  <%- include('./partials/footer.ejs'); %>
</body>

</html>